<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="animation"></div>
      <div class="animation2"></div>

      <div class="page">
        <div class="imgCover"></div>
        <div class="content">
          <header-app></header-app>

          <h1 class="titre">Conclusion</h1>

          <div class="d-flex justify-content-between">
            <p class="para">
              les réseaux professionnels sont essentiels pour établir des
              relations professionnelles significatives, trouver des
              opportunités, apprendre et évoluer dans un monde du travail de
              plus en plus connecté. Cultiver et entretenir ces réseaux peut
              grandement bénéficier à la carrière et au développement personnel
              des individus.
            </p>
            <span></span>
          </div>

          <div class="realisateurs">
            <ul></ul>
          </div>

          <div class="succession">
            <button (click)="precedent()">Précedent</button>
            <button (click)="finir()">Finir</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
