<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="animation"></div>
    <div class="animation2"></div>
    <div class="page">
      <div class="imgCover"></div>
      <div class="content">
        <header-app></header-app>

        <h1 class="titre">Les objectifs du</h1>
        <h3 class="sous-titre">Réseau Professionnel</h3>

        <div class="d-flex justify-content-between">
          <span></span>
          <p class="para">
            les objectifs du réseau professionnel sont souvent centrés sur le
            développement de carrière, l'accès à des opportunités,
            l'apprentissage continu, le soutien mutuel et l'amélioration de la
            visibilité professionnelle. Chaque individu peut avoir des priorités
            différentes en fonction de ses besoins spécifiques et de ses
            objectifs professionnels.
          </p>
          <!-- <span></span> -->
        </div>

        <div class="container">
          <img width="300" src="/assets/images/objectifs.png" />
          <div>
            <div class="objectif">
              <i class="bi bi-briefcase-fill icon"></i>
              <span>
                <h3>Trouver du travaille</h3>
                <p>
                  Plus on connaît de gens, plus on a de chances de trouver de
                  nouvelles opportunités.
                </p>
              </span>
            </div>

            <div class="objectif">
              <i class="bi bi-share-fill icon"></i>
              <span>
                <h3>Partager des Idées</h3>
                <p>
                  Un réseau diversifié permet d'apprendre de différentes
                  personnes et de partager ses idées.
                </p>
              </span>
            </div>

            <div class="objectif">
              <i class="bi bi-graph-up-arrow icon"></i>
              <span>
                <h3>Croissance Professionnelle</h3>
                <p>
                  Les relations professionnelles bien entretenues peuvent être
                  des catalyseurs de croissance
                </p>
              </span>
            </div>

            <div class="objectif">
              <i class="bi bi-unlock-fill icon"></i>
              <span>
                <h3>Accès à des Opportunités Cachées</h3>
                <p>
                  Le réseau professionnel peut être une source d'informations
                  confidentielles et d'opportunités non publiques.
                </p>
              </span>
            </div>
          </div>
        </div>

        <div class="realisateurs">
          <ul></ul>
        </div>

        <div class="succession">
          <button (click)="precedent()">precedent</button>
          <button (click)="suivant()">suivant</button>
        </div>
      </div>
    </div>
  </body>
</html>
