<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="colaboration"></div>

    <div class="d-flex align-items-center gap-5">
      <img class="logo" src="/assets/images/logoOfppt.png" />
      <h1 class="titre">Le développement du réseau professionnel</h1>
    </div>

    <ul class="plan">
      <li>
        <h3>Plan:</h3>
      </li>
      <li routerLink="/introduction">Introduction</li>
      <li routerLink="/importance">Importance</li>
      <li routerLink="/objectifs">Les Objectifs</li>
      <li routerLink="/outils">Les Outils</li>
      <li routerLink="/conseils">Les Conseils</li>
      <li routerLink="/conclusion">Conclusion</li>
    </ul>

    <ul class="realisateurs">
      <li>
        <h3>Realisé par:</h3>
      </li>
      <li>Mezrioui Hakim</li>
      <li>Ait zaidane Haytam</li>
      <li>Boutmoran El mehdi</li>
    </ul>

    <h3 class="formatrice">Formatrice: Madame Hanane</h3>
  </body>
</html>
