<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="animation"></div>
    <div class="animation2"></div>
    <div class="page">
      <div class="imgCover"></div>
      <div class="content">
        <header-app></header-app>

        <h1 class="titre">Réseau Professionnel</h1>

        <div class="d-flex justify-content-between">
          <span></span>
          <p class="para">
            Le reseau professionnel peut être compris comme une carte d'identité
            numérique qui résume qui nous sommes sur le plan professionnel. Il
            englobe nos compétences, nos expériences et nos qualités d'une
            manière concise, permettant aux autres de mieux comprendre notre
            parcours et nos atouts dans le monde du travail. Ainsi, le profil
            professionnel devient une composante essentielle pour se démarquer
            et prospérer dans le monde professionnel actuel.
          </p>
        </div>

        <div class="realisateurs">
          <ul></ul>
        </div>

        <div class="succession">
          <!-- <button>precedent</button> -->
          <button (click)="suivant()">suivant</button>
        </div>
      </div>
    </div>
  </body>
</html>
